<% if (success.length > 0) { %>
<div class="alert alert-success"><%= success %></div>
<% } %>

<div class="jumbotron text-center">
    <h1><%= message.content %></h1>
    <p><%= message.device %></p>
    <p><%= message.time %></p>
    <p><%= message.contactId %></p>
</div>